---
title: "Home"
extra:
  body:
    css: "style='padding-top: 60px;'"
---
  {% include head.html %}
  <br/>
  <div class='container'>
    <div class='row'>
      <div class='col-md-2 text-center col-md-offset-1'>
        <a target='_blank' href='sheets/Ageon_Rhaerrent.pdf'><img class='img img-circle' width='100%' src='tokens/Ageon.png'></a>
        <br/>
        <h3>Ageon</h3>
        <br/>
        <span>Portrayed by Aero</span>
      </div>
      <div class='col-md-2 text-center'>
        <a target='_blank' href='sheets/Amiri.pdf'><img class='img img-circle' width='100%' src='tokens/Amiri.png'></a>
        <br/>
        <h3>Amiri</h3>
        <br/>
        <span>Portrayed by Lizzy</span>
      </div>
      <div class='col-md-2 text-center'>
        <a target='_blank' href='sheets/Aryanne.pdf'><img class='img img-circle' width='100%' src='tokens/Aryanne.png'></a>
        <br/>
        <h3>Aryanne</h3>
        <br/>
        <span>Portrayed by Dev</span>
      </div>
      <div class='col-md-2 text-center'>
        <a target='_blank' href='sheets/Ben_Dover.pdf'><img class='img img-circle' width='100%' src='tokens/Ben.png'></a>
        <br/>
        <h3>Ben Dover</h3>
        <br/>
        <span>Portrayed by Alex</span>
      </div>
      <div class='col-md-2 text-center'>
        <a target='_blank' href='sheets/Fendor.pdf'><img class='img img-circle' width='100%' src='tokens/Fendor.png'></a>
        <br/>
        <h3>Fendor Lightbringer</h3>
        <br/>
        <span>Portrayed by Bocklebee</span>
      </div>
    </div>
    <br/><br/>
    <div class='well'>
      <div class='row text-center'>
        <h1>Deceased Characters</h1>
      </div>
      <div class='row'>
        <div class='col-md-2 text-center col-md-offset-5'>
          <a target='_blank' href='sheets/Silk.pdf'><img class='img img-circle' width='100%' src='tokens/Silk.png'></a>
          <br/>
          <h3>Silk</h3>
          <span>Portrayed by Bockle</span>
          <br/>
          <small>Beat to death by Amundsen on Tuesday June 3rd</small>
        </div>
      </div>
    </div>
  </div>
{% include foot.html %}
